*,
*::before,
*::after {
  box-sizing: border-box;
}

* :first-child {
  margin-block-start: 0;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-block-size: 100vh;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --min-width: 37.5rem;
  --max-width: 90rem;
  --min-content-width: 35.5rem;
  --max-content-width: 75rem;
  --min-font-size: 1rem;
  --max-font-size: 1.25rem;
}

:root {
  --step--2: clamp(0.6944rem, 0.619rem + 0.2011vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7143rem + 0.3175vw, 1rem);
  --step-0: clamp(1rem, 0.8214rem + 0.4762vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9411rem + 0.6905vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.0735rem + 0.9774vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.2184rem + 1.3589vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.3749rem + 1.8632vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.5409rem + 2.5264vw, 3.8147rem);
}

body {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

:root {
  --space-3xs: clamp(0.25rem, 0.2054rem + 0.119vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4107rem + 0.2381vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6161rem + 0.3571vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8214rem + 0.4762vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.2321rem + 0.7143vw, 1.875rem);
  --space-l: clamp(2rem, 1.6429rem + 0.9524vw, 2.5rem);
  --space-xl: clamp(3rem, 2.4643rem + 1.4286vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.2857rem + 1.9048vw, 5rem);
  --space-3xl: clamp(6rem, 4.9286rem + 2.8571vw, 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, -0.0179rem + 0.7143vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.1875rem + 0.8333vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.3929rem + 0.9524vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.375rem + 1.6667vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 0.7857rem + 1.9048vw, 2.5rem);
  --space-l-xl: clamp(2rem, 0.75rem + 3.3333vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 1.5714rem + 3.8095vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 1.5rem + 6.6667vw, 7.5rem);
  --space-s-3xl: clamp(1rem, -3.6429rem + 12.381vw, 7.5rem);
  --space-s-2xl: clamp(1rem, -1.8571rem + 7.619vw, 5rem);
  --space-s-xl: clamp(1rem, -0.9643rem + 5.2381vw, 3.75rem);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.container {
  position: relative;
  box-sizing: content-box;
  max-inline-size: var(--container-max-width, var(--max-content-width, 75rem));
  padding-inline: var(--container-padding, var(--space-s-3xl, 1rem));
  margin-inline: auto;
}