@use '../../styles/global/reset';
@use '../../styles/settings/fluid_type';
@use '../../styles/settings/fluid_space';
@use '../../styles/composition/flow';
@use '../../styles/composition/container';
@use '../../styles/composition/box';

ul,
ol {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, var(--space-m, 1.5rem));
  align-items: var(--cluster-vertical-alignment, center);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
}
