*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-wrap: balance;
}

p {
  line-height: 1.8;
  text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
