:root {
  font-family: "Pretendard Variable";
}

body {
  font-size: 1.125rem;
}
@media screen and (width < 37.5rem) {
  body {
    font-size: 1rem;
  }
}

h1 {
  font-weight: 700;
  font-size: 4.83729408rem;
}
@media screen and (width < 37.5rem) {
  h1 {
    font-size: 2.565784514rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 3.359232rem;
}
@media screen and (width < 37.5rem) {
  h2 {
    font-size: 2.0272865295rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 2.3328rem;
}
@media screen and (width < 37.5rem) {
  h3 {
    font-size: 1.6018066406rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 1.62rem;
}
@media screen and (width < 37.5rem) {
  h4 {
    font-size: 1.265625rem;
  }
}

h5 {
  font-weight: 700;
  font-size: 1.35rem;
}
@media screen and (width < 37.5rem) {
  h5 {
    font-size: 1.125rem;
  }
}

h6 {
  font-weight: 700;
  font-size: 1.125rem;
}
@media screen and (width < 37.5rem) {
  h6 {
    font-size: 1rem;
  }
}