@use '../../style/reset' as reset;
@use '../../style/base' as base;

:root {
  --body-px: 5rem;
  --content-mxw: 60rem;
  --container-mxw: 75rem;
  --container-px: calc((var(--container-mxw) - var(--content-mxw)) / 2);

  @include base.media(base.$container-lg) {
    --body-px: 2.5rem;
  }

  @include base.media(base.$container-md) {
    --body-px: 1.5rem;
  }

  @include base.media(base.$container-sm) {
    --body-px: 1rem;
  }
}

.responsive-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--body-px), 1fr)
    [breakout-start] minmax(0, var(--container-px))
    [content-start] min(100% - 2 * var(--body-px), var(--content-mxw))
    [content-end]
    minmax(0, var(--container-px)) [breakout-end]
    minmax(var(--body-px), 1fr) [full-width-end];

  > :not(.breakout, .full-width) {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: full-width;
    &.inherit-grid {
      display: grid;
      grid-template-columns: inherit;
      > * {
        grid-column: content;
      }
    }
  }
}

.flow > * + * {
  margin-top: 1em;
}

.section-padding {
  padding-block: 2.5rem;
}
