@use '../../styles/global/reset';
@use '../../styles/settings/fluid_type';
@use '../../styles/settings/fluid_space';
@use '../../styles/composition/flow';
@use '../../styles/composition/container';
@use '../../styles/composition/box';

ul,
ol {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;

  > li {
    display: block;

    > a {
      display: block;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 30ch), 1fr)
  );
  gap: var(--grid-space, var(--space-l, 2rem));
}
