* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body {
  min-block-size: 100vh;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
label {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

audio,
canvas,
embed,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
:root {
  color-scheme: light dark;
  --tone-red-0: oklch(0% 0 30deg);
  --tone-red-2: oklch(11.3796204055% 0.0192331612 30deg);
  --tone-red-4: oklch(16.725020619% 0.0282676405 30deg);
  --tone-red-6: oklch(20.9505360307% 0.0354093567 30deg);
  --tone-red-8: oklch(24.5813396878% 0.0415459262 30deg);
  --tone-red-10: oklch(27.8255940221% 0.047029173 30deg);
  --tone-red-12: oklch(30.791725436% 0.0520423528 30deg);
  --tone-red-14: oklch(33.5449142848% 0.0566956298 30deg);
  --tone-red-16: oklch(36.1280428055% 0.0610614808 30deg);
  --tone-red-18: oklch(38.5711424751% 0.0651906633 30deg);
  --tone-red-20: oklch(40.8962353023% 0.0691203977 30deg);
  --tone-red-22: oklch(43.1200511276% 0.0728789597 30deg);
  --tone-red-24: oklch(45.25566095% 0.076488441 30deg);
  --tone-red-26: oklch(47.3135127784% 0.0799665005 30deg);
  --tone-red-28: oklch(49.3021175648% 0.0833275226 30deg);
  --tone-red-30: oklch(51.2285198768% 0.0865834139 30deg);
  --tone-red-32: oklch(53.0986306496% 0.0897441645 30deg);
  --tone-red-34: oklch(54.9174684839% 0.0928182566 30deg);
  --tone-red-36: oklch(56.6893385022% 0.0958129665 30deg);
  --tone-red-38: oklch(58.4179674734% 0.0987345929 30deg);
  --tone-red-40: oklch(60.106607628% 0.1015886326 30deg);
  --tone-red-42: oklch(61.7581176108% 0.1043799171 30deg);
  --tone-red-44: oklch(63.3750264509% 0.1071127208 30deg);
  --tone-red-46: oklch(64.9595847172% 0.1097908474 30deg);
  --tone-red-48: oklch(66.5138058689% 0.1124177001 30deg);
  --tone-red-50: oklch(68.0395000087% 0.114996338 30deg);
  --tone-red-52: oklch(69.5383016812% 0.117529524 30deg);
  --tone-red-54: oklch(71.011692954% 0.1199516154 30deg);
  --tone-red-56: oklch(72.4610227272% 0.1139543887 30deg);
  --tone-red-58: oklch(73.8875229981% 0.108051629 30deg);
  --tone-red-60: oklch(75.2923226512% 0.1022386649 30deg);
  --tone-red-62: oklch(76.6764592173% 0.0965112032 30deg);
  --tone-red-64: oklch(78.0408889583% 0.0908652871 30deg);
  --tone-red-66: oklch(79.3864955597% 0.0852972598 30deg);
  --tone-red-68: oklch(80.7140976593% 0.0798037338 30deg);
  --tone-red-70: oklch(82.0244553975% 0.0743815639 30deg);
  --tone-red-72: oklch(83.3182761409% 0.0690278229 30deg);
  --tone-red-74: oklch(84.5962195028% 0.0637397814 30deg);
  --tone-red-76: oklch(85.8589017643% 0.0585148893 30deg);
  --tone-red-78: oklch(87.1068997805% 0.0533507595 30deg);
  --tone-red-80: oklch(88.3407544446% 0.048245154 30deg);
  --tone-red-82: oklch(89.5609737683% 0.0431959706 30deg);
  --tone-red-84: oklch(90.7680356306% 0.0382012319 30deg);
  --tone-red-86: oklch(91.9623902366% 0.0332590749 30deg);
  --tone-red-88: oklch(93.1444623238% 0.0283677421 30deg);
  --tone-red-90: oklch(94.314653146% 0.0235255732 30deg);
  --tone-red-92: oklch(95.4733422628% 0.0187309975 30deg);
  --tone-red-94: oklch(96.6208891568% 0.0139825276 30deg);
  --tone-red-96: oklch(97.7576346981% 0.009278753 30deg);
  --tone-red-98: oklch(98.8839024742% 0.0046183346 30deg);
  --tone-red-100: oklch(100% 0 30deg);
  --tone-green-0: oklch(0% 0 150deg);
  --tone-green-2: oklch(11.3796204055% 0.0192331612 150deg);
  --tone-green-4: oklch(16.725020619% 0.0282676405 150deg);
  --tone-green-6: oklch(20.9505360307% 0.0354093567 150deg);
  --tone-green-8: oklch(24.5813396878% 0.0415459262 150deg);
  --tone-green-10: oklch(27.8255940221% 0.047029173 150deg);
  --tone-green-12: oklch(30.791725436% 0.0520423528 150deg);
  --tone-green-14: oklch(33.5449142848% 0.0566956298 150deg);
  --tone-green-16: oklch(36.1280428055% 0.0610614808 150deg);
  --tone-green-18: oklch(38.5711424751% 0.0651906633 150deg);
  --tone-green-20: oklch(40.8962353023% 0.0691203977 150deg);
  --tone-green-22: oklch(43.1200511276% 0.0728789597 150deg);
  --tone-green-24: oklch(45.25566095% 0.076488441 150deg);
  --tone-green-26: oklch(47.3135127784% 0.0799665005 150deg);
  --tone-green-28: oklch(49.3021175648% 0.0833275226 150deg);
  --tone-green-30: oklch(51.2285198768% 0.0865834139 150deg);
  --tone-green-32: oklch(53.0986306496% 0.0897441645 150deg);
  --tone-green-34: oklch(54.9174684839% 0.0928182566 150deg);
  --tone-green-36: oklch(56.6893385022% 0.0958129665 150deg);
  --tone-green-38: oklch(58.4179674734% 0.0987345929 150deg);
  --tone-green-40: oklch(60.106607628% 0.1015886326 150deg);
  --tone-green-42: oklch(61.7581176108% 0.1043799171 150deg);
  --tone-green-44: oklch(63.3750264509% 0.1071127208 150deg);
  --tone-green-46: oklch(64.9595847172% 0.1097908474 150deg);
  --tone-green-48: oklch(66.5138058689% 0.1124177001 150deg);
  --tone-green-50: oklch(68.0395000087% 0.114996338 150deg);
  --tone-green-52: oklch(69.5383016812% 0.117529524 150deg);
  --tone-green-54: oklch(71.011692954% 0.1199516154 150deg);
  --tone-green-56: oklch(72.4610227272% 0.1139543887 150deg);
  --tone-green-58: oklch(73.8875229981% 0.108051629 150deg);
  --tone-green-60: oklch(75.2923226512% 0.1022386649 150deg);
  --tone-green-62: oklch(76.6764592173% 0.0965112032 150deg);
  --tone-green-64: oklch(78.0408889583% 0.0908652871 150deg);
  --tone-green-66: oklch(79.3864955597% 0.0852972598 150deg);
  --tone-green-68: oklch(80.7140976593% 0.0798037338 150deg);
  --tone-green-70: oklch(82.0244553975% 0.0743815639 150deg);
  --tone-green-72: oklch(83.3182761409% 0.0690278229 150deg);
  --tone-green-74: oklch(84.5962195028% 0.0637397814 150deg);
  --tone-green-76: oklch(85.8589017643% 0.0585148893 150deg);
  --tone-green-78: oklch(87.1068997805% 0.0533507595 150deg);
  --tone-green-80: oklch(88.3407544446% 0.048245154 150deg);
  --tone-green-82: oklch(89.5609737683% 0.0431959706 150deg);
  --tone-green-84: oklch(90.7680356306% 0.0382012319 150deg);
  --tone-green-86: oklch(91.9623902366% 0.0332590749 150deg);
  --tone-green-88: oklch(93.1444623238% 0.0283677421 150deg);
  --tone-green-90: oklch(94.314653146% 0.0235255732 150deg);
  --tone-green-92: oklch(95.4733422628% 0.0187309975 150deg);
  --tone-green-94: oklch(96.6208891568% 0.0139825276 150deg);
  --tone-green-96: oklch(97.7576346981% 0.009278753 150deg);
  --tone-green-98: oklch(98.8839024742% 0.0046183346 150deg);
  --tone-green-100: oklch(100% 0 150deg);
  --tone-blue-0: oklch(0% 0 270deg);
  --tone-blue-2: oklch(11.3796204055% 0.0192331612 270deg);
  --tone-blue-4: oklch(16.725020619% 0.0282676405 270deg);
  --tone-blue-6: oklch(20.9505360307% 0.0354093567 270deg);
  --tone-blue-8: oklch(24.5813396878% 0.0415459262 270deg);
  --tone-blue-10: oklch(27.8255940221% 0.047029173 270deg);
  --tone-blue-12: oklch(30.791725436% 0.0520423528 270deg);
  --tone-blue-14: oklch(33.5449142848% 0.0566956298 270deg);
  --tone-blue-16: oklch(36.1280428055% 0.0610614808 270deg);
  --tone-blue-18: oklch(38.5711424751% 0.0651906633 270deg);
  --tone-blue-20: oklch(40.8962353023% 0.0691203977 270deg);
  --tone-blue-22: oklch(43.1200511276% 0.0728789597 270deg);
  --tone-blue-24: oklch(45.25566095% 0.076488441 270deg);
  --tone-blue-26: oklch(47.3135127784% 0.0799665005 270deg);
  --tone-blue-28: oklch(49.3021175648% 0.0833275226 270deg);
  --tone-blue-30: oklch(51.2285198768% 0.0865834139 270deg);
  --tone-blue-32: oklch(53.0986306496% 0.0897441645 270deg);
  --tone-blue-34: oklch(54.9174684839% 0.0928182566 270deg);
  --tone-blue-36: oklch(56.6893385022% 0.0958129665 270deg);
  --tone-blue-38: oklch(58.4179674734% 0.0987345929 270deg);
  --tone-blue-40: oklch(60.106607628% 0.1015886326 270deg);
  --tone-blue-42: oklch(61.7581176108% 0.1043799171 270deg);
  --tone-blue-44: oklch(63.3750264509% 0.1071127208 270deg);
  --tone-blue-46: oklch(64.9595847172% 0.1097908474 270deg);
  --tone-blue-48: oklch(66.5138058689% 0.1124177001 270deg);
  --tone-blue-50: oklch(68.0395000087% 0.114996338 270deg);
  --tone-blue-52: oklch(69.5383016812% 0.117529524 270deg);
  --tone-blue-54: oklch(71.011692954% 0.1199516154 270deg);
  --tone-blue-56: oklch(72.4610227272% 0.1139543887 270deg);
  --tone-blue-58: oklch(73.8875229981% 0.108051629 270deg);
  --tone-blue-60: oklch(75.2923226512% 0.1022386649 270deg);
  --tone-blue-62: oklch(76.6764592173% 0.0965112032 270deg);
  --tone-blue-64: oklch(78.0408889583% 0.0908652871 270deg);
  --tone-blue-66: oklch(79.3864955597% 0.0852972598 270deg);
  --tone-blue-68: oklch(80.7140976593% 0.0798037338 270deg);
  --tone-blue-70: oklch(82.0244553975% 0.0743815639 270deg);
  --tone-blue-72: oklch(83.3182761409% 0.0690278229 270deg);
  --tone-blue-74: oklch(84.5962195028% 0.0637397814 270deg);
  --tone-blue-76: oklch(85.8589017643% 0.0585148893 270deg);
  --tone-blue-78: oklch(87.1068997805% 0.0533507595 270deg);
  --tone-blue-80: oklch(88.3407544446% 0.048245154 270deg);
  --tone-blue-82: oklch(89.5609737683% 0.0431959706 270deg);
  --tone-blue-84: oklch(90.7680356306% 0.0382012319 270deg);
  --tone-blue-86: oklch(91.9623902366% 0.0332590749 270deg);
  --tone-blue-88: oklch(93.1444623238% 0.0283677421 270deg);
  --tone-blue-90: oklch(94.314653146% 0.0235255732 270deg);
  --tone-blue-92: oklch(95.4733422628% 0.0187309975 270deg);
  --tone-blue-94: oklch(96.6208891568% 0.0139825276 270deg);
  --tone-blue-96: oklch(97.7576346981% 0.009278753 270deg);
  --tone-blue-98: oklch(98.8839024742% 0.0046183346 270deg);
  --tone-blue-100: oklch(100% 0 270deg);
  --tone-neutral-0: oklch(0% 0 0deg);
  --tone-neutral-2: oklch(11.3796204055% 0 0deg);
  --tone-neutral-4: oklch(16.725020619% 0 0deg);
  --tone-neutral-6: oklch(20.9505360307% 0 0deg);
  --tone-neutral-8: oklch(24.5813396878% 0 0deg);
  --tone-neutral-10: oklch(27.8255940221% 0 0deg);
  --tone-neutral-12: oklch(30.791725436% 0 0deg);
  --tone-neutral-14: oklch(33.5449142848% 0 0deg);
  --tone-neutral-16: oklch(36.1280428055% 0 0deg);
  --tone-neutral-18: oklch(38.5711424751% 0 0deg);
  --tone-neutral-20: oklch(40.8962353023% 0 0deg);
  --tone-neutral-22: oklch(43.1200511276% 0 0deg);
  --tone-neutral-24: oklch(45.25566095% 0 0deg);
  --tone-neutral-26: oklch(47.3135127784% 0 0deg);
  --tone-neutral-28: oklch(49.3021175648% 0 0deg);
  --tone-neutral-30: oklch(51.2285198768% 0 0deg);
  --tone-neutral-32: oklch(53.0986306496% 0 0deg);
  --tone-neutral-34: oklch(54.9174684839% 0 0deg);
  --tone-neutral-36: oklch(56.6893385022% 0 0deg);
  --tone-neutral-38: oklch(58.4179674734% 0 0deg);
  --tone-neutral-40: oklch(60.106607628% 0 0deg);
  --tone-neutral-42: oklch(61.7581176108% 0 0deg);
  --tone-neutral-44: oklch(63.3750264509% 0 0deg);
  --tone-neutral-46: oklch(64.9595847172% 0 0deg);
  --tone-neutral-48: oklch(66.5138058689% 0 0deg);
  --tone-neutral-50: oklch(68.0395000087% 0 0deg);
  --tone-neutral-52: oklch(69.5383016812% 0 0deg);
  --tone-neutral-54: oklch(71.011692954% 0 0deg);
  --tone-neutral-56: oklch(72.4610227272% 0 0deg);
  --tone-neutral-58: oklch(73.8875229981% 0 0deg);
  --tone-neutral-60: oklch(75.2923226512% 0 0deg);
  --tone-neutral-62: oklch(76.6764592173% 0 0deg);
  --tone-neutral-64: oklch(78.0408889583% 0 0deg);
  --tone-neutral-66: oklch(79.3864955597% 0 0deg);
  --tone-neutral-68: oklch(80.7140976593% 0 0deg);
  --tone-neutral-70: oklch(82.0244553975% 0 0deg);
  --tone-neutral-72: oklch(83.3182761409% 0 0deg);
  --tone-neutral-74: oklch(84.5962195028% 0 0deg);
  --tone-neutral-76: oklch(85.8589017643% 0 0deg);
  --tone-neutral-78: oklch(87.1068997805% 0 0deg);
  --tone-neutral-80: oklch(88.3407544446% 0 0deg);
  --tone-neutral-82: oklch(89.5609737683% 0 0deg);
  --tone-neutral-84: oklch(90.7680356306% 0 0deg);
  --tone-neutral-86: oklch(91.9623902366% 0 0deg);
  --tone-neutral-88: oklch(93.1444623238% 0 0deg);
  --tone-neutral-90: oklch(94.314653146% 0 0deg);
  --tone-neutral-92: oklch(95.4733422628% 0 0deg);
  --tone-neutral-94: oklch(96.6208891568% 0 0deg);
  --tone-neutral-96: oklch(97.7576346981% 0 0deg);
  --tone-neutral-98: oklch(98.8839024742% 0 0deg);
  --tone-neutral-100: oklch(100% 0 0deg);
  --surface: light-dark(var(--tone-neutral-98), var(--tone-neutral-4));
  --on-surface: light-dark(var(--tone-neutral-4), var(--tone-neutral-98));
  --on-surface-variant: light-dark(var(--tone-neutral-24), var(--tone-neutral-78));
  --surface-1: light-dark(var(--tone-neutral-100), var(--tone-neutral-2));
  --surface-2: light-dark(var(--tone-neutral-96), var(--tone-neutral-6));
  --surface-3: light-dark(var(--tone-neutral-94), var(--tone-neutral-8));
  --surface-4: light-dark(var(--tone-neutral-92), var(--tone-neutral-10));
  --surface-5: light-dark(var(--tone-neutral-90), var(--tone-neutral-12));
  --outline: light-dark(var(--tone-neutral-50), var(--tone-neutral-52));
  --outline-variant: light-dark(var(--tone-neutral-80), var(--tone-neutral-22));
  --primary: light-dark(var(--tone-red-40), var(--tone-red-62));
  --on-primary: light-dark(var(--tone-red-100), var(--tone-red-2));
  --primary-container: light-dark(var(--tone-red-90), var(--tone-red-12));
  --on-primary-container: light-dark(var(--tone-red-30), var(--tone-red-72));
  --secondary: light-dark(var(--tone-green-40), var(--tone-green-62));
  --on-secondary: light-dark(var(--tone-green-100), var(--tone-green-2));
  --secondary-container: light-dark(var(--tone-green-90), var(--tone-green-12));
  --on-secondary-container: light-dark(var(--tone-green-30), var(--tone-green-72));
  --tertiary: light-dark(var(--tone-blue-40), var(--tone-blue-62));
  --on-tertiary: light-dark(var(--tone-blue-100), var(--tone-blue-2));
  --tertiary-container: light-dark(var(--tone-blue-90), var(--tone-blue-12));
  --on-tertiary-container: light-dark(var(--tone-blue-30), var(--tone-blue-72));
}

/* stylelint-disable-next-line scss/at-function-pattern */
/* stylelint-disable-next-line scss/at-function-pattern */
:root {
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-width: 37.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-width: 100rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-content-width: 35.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-content-width: 85rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-font-size: 1rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-font-size: 1.25rem;
}

:root {
  --step--2: clamp(0.6944rem, 0.6311rem + 0.1689vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7333rem + 0.2667vw, 1rem);
  --step-0: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9825rem + 0.58vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.1321rem + 0.821vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.3rem + 1.1415vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.4867rem + 1.5651vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.6925rem + 2.1222vw, 3.8147rem);
}

body {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

:root {
  --space-3xs: clamp(0.25rem, 0.2125rem + 0.1vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.425rem + 0.2vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6375rem + 0.3vw, 0.9375rem);
  --space-s: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.275rem + 0.6vw, 1.875rem);
  --space-l: clamp(2rem, 1.7rem + 0.8vw, 2.5rem);
  --space-xl: clamp(3rem, 2.55rem + 1.2vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.4rem + 1.6vw, 5rem);
  --space-3xl: clamp(6rem, 5.1rem + 2.4vw, 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, 0.025rem + 0.6vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.2375rem + 0.7vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.45rem + 0.8vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.475rem + 1.4vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 0.9rem + 1.6vw, 2.5rem);
  --space-l-xl: clamp(2rem, 0.95rem + 2.8vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 1.8rem + 3.2vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 1.9rem + 5.6vw, 7.5rem);
  --space-s-3xl: clamp(1rem, -2.9rem + 10.4vw, 7.5rem);
  --space-s-2xl: clamp(1rem, -1.4rem + 6.4vw, 5rem);
  --space-s-xl: clamp(1rem, -0.65rem + 4.4vw, 3.75rem);
  --space-s-l: clamp(1rem, 0.1rem + 2.4vw, 2.5rem);
}

body {
  color: var(--on-surface);
  background-color: var(--surface-1);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, var(--space-s-m, 1rem));
  align-items: var(--cluster-vertical-alignment, center);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.wrapper {
  --p-x: var(--wrapper-padding, var(--space-s-3xl, 1rem));
  position: relative;
  box-sizing: content-box;
  max-inline-size: min(100% - 2 * var(--p-x), var(--wrapper-max-width, var(--max-content-width, 85rem)));
  padding-inline: var(--p-x);
  margin-inline: auto;
}

.section {
  --flow-space: var(--space-l);
  padding: var(--space-l);
  background-color: var(--surface-3);
}
.section > * {
  --flow-space: 1em;
}

ul,
ol {
  list-style: none;
}
ul.flow > li,
ol.flow > li {
  --flow-space: 0.75em;
}

code {
  padding-inline: 0.5em;
  font-weight: 700;
  color: var(--primary);
}

.elem {
  background-color: var(--surface-2);
}

.cluster > li {
  text-box: trim-both ex;
  padding: 0.5em;
  color: var(--on-primary);
  background-color: var(--primary);
  border-radius: 0.25em;
}