@use 'sass:math';
@use '../global/config';

.grid-wrapper {
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(0, 1fr)
    [breakout-start]
    minmax(0, var(--gutter, 0))
    [content-start]
    min(
      calc(100% - 2 * var(--gutter, 0rem)),
      calc(
        var(--wrapper-max-width, var(--max-width, 90rem)) - 2 *
          var(--gutter, 0rem)
      )
    )
    [content-end]
    minmax(0, var(--gutter, 0))
    [breakout-end]
    minmax(0, 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }
}
