@use './fonts';
@use './reset';
@use './tone';
@use './type';
@use './space';

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--step-0);
  font-size-adjust: from-font;
  line-height: var(--leading-m);
  color: var(--on-surface);
  background: var(--surface-1);
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-xs);
  text-wrap: balance;
}

h1 {
  max-width: 20ch;
  font-size: var(--step-5);
}

h2 {
  max-width: 35ch;
  font-size: var(--step-4);
}

h3 {
  max-width: 35ch;
  font-size: var(--step-3);
}

:is(h4, h5, h6) {
  font-size: var(--step-2);
}

small {
  font-size: var(--step--1);
}

ins {
  padding-inline: 0.3em;
  color: var(--surface-1);
  text-decoration: none;
  background: var(--primary);
}
