@use './fonts';
@use './reset';
@use './tone';
@use './type';
@use './space';

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--step-0);
  font-size-adjust: from-font;
  line-height: var(--leading-m);
  color: var(--on-surface);
  background-color: var(--surface-1);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}
