@use '../utilities/perceptoneGenerator' as *;

:root {
  @include generatePerceptone(
    (
      'hue': 8,
      'stepSize': 5,
      'lightnessExponent': calc(1 / 1.2),
      'chromaPeak': 0.25,
      'lightnessAtChromaPeak': 0.64,
      'colourName': 'red'
    )
  );
  @include generatePerceptone(
    (
      'hue': 0,
      'stepSize': 5,
      'lightnessExponent': calc(1 / 1.2),
      'chromaPeak': 0,
      'lightnessAtChromaPeak': 0,
      'colourName': 'neutral'
    )
  );
}
