* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  text-size-adjust: none;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

audio,
canvas,
embed,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
