@use './setting' as setting;
@use '../../node_modules/utopia-core-scss/src/utopia' as utopia;

:root {
  @include utopia.generateTypeScale(
    (
      'minWidth': setting.$min-width,
      'maxWidth': setting.$max-width,
      'minFontSize': setting.$min-font-size,
      'maxFontSize': setting.$max-font-size,
      'minTypeScale': 1.2,
      'maxTypeScale': 1.25,
      'positiveSteps': 5,
      'negativeSteps': 2,
      'prefix': 'step-',
      'relativeTo': 'viewport-width'
    )
  );
}

body {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}
