.box {
  --font-color: light-dark(
    var(--shades-1, oklch(20% 0 240deg)),
    var(--shades-6, oklch(90% 0 240deg))
  );
  --background-color: light-dark(
    var(--shades-6, oklch(90% 0 240deg)),
    var(--shades-1, oklch(20% 0 240deg))
  );
  --border-color: var(--font-color);

  padding: var(--padding, var(--space-s, 1rem));
  color: var(--font-color);
  background-color: var(--background-color);
  border: var(--border-width, 0) solid var(--border-color);

  * {
    color: inherit;
  }
}
