@use '../settings/setting' as setting;
@use 'sass:math';

.container {
  position: relative;
  box-sizing: content-box;
  max-inline-size: var(--container-max-width, var(--max-content-width, 75rem));
  padding-inline: var(--container-padding, var(--space-s-3xl, 1rem));
  margin-inline: auto;
}
