@use '../global/config';
@use 'sass:math';

.wrapper {
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(0, 1fr)
    [breakout-start]
    minmax(0, var(--wrapper-padding, var(--space-s-3xl, 1rem)))
    [content-start]
    min(
      100% - (2 * var(--wrapper-padding, var(--space-s-3xl, 1rem))),
      var(--wrapper-max-width, var(--max-content-width, 75rem))
    )
    [content-end]
    minmax(0, var(--wrapper-padding, var(--space-s-3xl, 1rem)))
    [breakout-end]
    minmax(0, 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }
}
