.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 30ch), 1fr)
  );
  gap: var(--grid-space, var(--space-l, 2rem));
}
