.repel {
  display: flex;
  flex-wrap: wrap;
  gap: var(--repel-space, var(--space-s-m, 1rem));
  align-items: var(--repel-vertical-alignment, center);
  justify-content: space-between;
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}
