@mixin sidebar-left() {
  flex-grow: 1;
  flex-basis: var(--sidebar-target-width, 20rem);
}

@mixin sidebar-right() {
  flex-grow: 999;
  flex-basis: 0;
  min-width: var(--sidebar-content-min-width, 50%);
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space, var(--space-s-l, 1rem));

  &:not([data-direction]) {
    > :first-child {
      @include sidebar-left;
    }

    > :last-child {
      @include sidebar-right;
    }
  }

  &[data-direction='rtl'] {
    > :last-child {
      @include sidebar-left;
    }

    > :first-child {
      @include sidebar-right;
    }
  }
}

.sidebar[data-reversed] {
  flex-direction: row-reverse;
}
