.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar:not([data-direction]) > :first-child {
  flex-grow: 1;
  flex-basis: var(--sidebar-target-width, 20rem);
}

.sidebar:not([data-direction]) > :last-child {
  flex-grow: 999;
  flex-basis: 0;
  min-width: var(--sidebar-content-min-width, 50%);
}

.sidebar[data-reversed] {
  flex-direction: row-reverse;
}

.sidebar[data-direction='rtl'] > :last-child {
  flex-grow: 1;
  flex-basis: var(--sidebar-target-width, 20rem);
}

.sidebar[data-direction='rtl'] > :first-child {
  flex-grow: 999;
  flex-basis: 0;
  min-width: var(--sidebar-content-min-width, 50%);
}
