@use '../global/config';
@use 'sass:math';

.wrapper {
  position: relative;
  box-sizing: content-box;
  max-inline-size: var(--wrapper-max-width, var(--max-content-width, 75rem));
  padding-inline: var(--wrapper-padding, var(--space-s-3xl, 1rem));
  margin-inline: auto;
}
