* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

audio,
canvas,
embed,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* stylelint-disable-next-line scss/at-function-pattern */
/* stylelint-disable-next-line scss/at-function-pattern */
:root {
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-width: 37.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-width: 100rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-content-width: 35.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-content-width: 85rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-font-size: 1rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-font-size: 1.25rem;
}

:root {
  --step--2: clamp(0.6944rem, 0.6311rem + 0.1689vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7333rem + 0.2667vw, 1rem);
  --step-0: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9825rem + 0.58vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.1321rem + 0.821vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.3rem + 1.1415vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.4867rem + 1.5651vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.6925rem + 2.1222vw, 3.8147rem);
}

body {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

:root {
  --space-3xs: clamp(0.25rem, 0.2125rem + 0.1vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.425rem + 0.2vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6375rem + 0.3vw, 0.9375rem);
  --space-s: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.275rem + 0.6vw, 1.875rem);
  --space-l: clamp(2rem, 1.7rem + 0.8vw, 2.5rem);
  --space-xl: clamp(3rem, 2.55rem + 1.2vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.4rem + 1.6vw, 5rem);
  --space-3xl: clamp(6rem, 5.1rem + 2.4vw, 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, 0.025rem + 0.6vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.2375rem + 0.7vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.45rem + 0.8vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.475rem + 1.4vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 0.9rem + 1.6vw, 2.5rem);
  --space-l-xl: clamp(2rem, 0.95rem + 2.8vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 1.8rem + 3.2vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 1.9rem + 5.6vw, 7.5rem);
  --space-s-3xl: clamp(1rem, -2.9rem + 10.4vw, 7.5rem);
  --space-s-2xl: clamp(1rem, -1.4rem + 6.4vw, 5rem);
  --space-s-xl: clamp(1rem, -0.65rem + 4.4vw, 3.75rem);
  --space-s-l: clamp(1rem, 0.1rem + 2.4vw, 2.5rem);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.wrapper {
  position: relative;
  box-sizing: content-box;
  max-inline-size: var(--wrapper-max-width, var(--max-content-width, 75rem));
  padding-inline: var(--wrapper-padding, var(--space-s-3xl, 1rem));
  margin-inline: auto;
}

:root {
  color-scheme: light dark;
  --blue-shades-7: oklch(98% 0.05 240deg);
  --blue-shades-6: oklch(90% 0.05 240deg);
  --blue-shades-5: oklch(80% 0.05 240deg);
  --blue-shades-4: oklch(68% 0.05 240deg);
  --blue-shades-3: oklch(54% 0.05 240deg);
  --blue-shades-2: oklch(38% 0.05 240deg);
  --blue-shades-1: oklch(20% 0.05 240deg);
  --blue-shades-0: oklch(10% 0.05 240deg);
}

body {
  color: light-dark(var(--blue-shades-0), var(--blue-shades-7));
  background-color: light-dark(var(--blue-shades-7), var(--blue-shades-0));
}

.box {
  --font-color: light-dark(var(--blue-shades-1), var(--blue-shades-6));
  --background-color: light-dark(var(--blue-shades-6), var(--blue-shades-1));
  --border-color: var(--font-color);
  padding: var(--padding, var(--space-s, 1rem));
  color: var(--font-color);
  background-color: var(--background-color);
  border: var(--border-width, 0) solid var(--border-color);
}
.box * {
  color: inherit;
}

.custom-box-1 {
  --padding: 2rem;
  --border-width: 0.25rem;
  --font-color: light-dark(oklch(20% 0.05 30deg), oklch(90% 0.05 30deg));
  --background-color: light-dark(
    oklch(90% 0.05 30deg),
    oklch(20% 0.05 30deg)
  );
}
.custom-box-2 {
  --padding: 3rem;
  --border-width: 0.5rem;
  --font-color: light-dark(oklch(20% 0.05 120deg), oklch(90% 0.05 120deg));
  --background-color: light-dark(
    oklch(90% 0.05 120deg),
    oklch(20% 0.05 120deg)
  );
  --border-color: light-dark(oklch(20% 0.05 30deg), oklch(90% 0.05 30deg));
}