@use '../../styles/global/reset';
@use '../../styles/global/fluid-type';
@use '../../styles/global/fluid-space';
@use '../../styles/composition/flow';
@use '../../styles/composition/wrapper';

:root {
  color-scheme: light dark;

  --blue-shades-7: oklch(98% 0.05 240deg);
  --blue-shades-6: oklch(90% 0.05 240deg);
  --blue-shades-5: oklch(80% 0.05 240deg);
  --blue-shades-4: oklch(68% 0.05 240deg);
  --blue-shades-3: oklch(54% 0.05 240deg);
  --blue-shades-2: oklch(38% 0.05 240deg);
  --blue-shades-1: oklch(20% 0.05 240deg);
  --blue-shades-0: oklch(10% 0.05 240deg);
}

body {
  color: light-dark(var(--blue-shades-0), var(--blue-shades-7));
  background-color: light-dark(var(--blue-shades-7), var(--blue-shades-0));
}

.box {
  --font-color: light-dark(var(--blue-shades-1), var(--blue-shades-6));
  --background-color: light-dark(var(--blue-shades-6), var(--blue-shades-1));
  --border-color: var(--font-color);

  padding: var(--padding, var(--space-s, 1rem));
  color: var(--font-color);
  background-color: var(--background-color);
  border: var(--border-width, 0) solid var(--border-color);

  * {
    color: inherit;
  }
}

.custom-box {
  &-1 {
    --padding: 2rem;
    --border-width: 0.25rem;
    --font-color: light-dark(oklch(20% 0.05 30deg), oklch(90% 0.05 30deg));
    --background-color: light-dark(
      oklch(90% 0.05 30deg),
      oklch(20% 0.05 30deg)
    );
  }

  &-2 {
    --padding: 3rem;
    --border-width: 0.5rem;
    --font-color: light-dark(oklch(20% 0.05 120deg), oklch(90% 0.05 120deg));
    --background-color: light-dark(
      oklch(90% 0.05 120deg),
      oklch(20% 0.05 120deg)
    );
    --border-color: light-dark(oklch(20% 0.05 30deg), oklch(90% 0.05 30deg));
  }
}
