@use '../../styles/global/reset';
@use '../../styles/settings/fluid_type';
@use '../../styles/settings/fluid_space';
@use '../../styles/composition/flow';
@use '../../styles/composition/container';

:root {
  color-scheme: light dark;

  --blue-shades-7: oklch(98% 0.05 240deg);
  --blue-shades-6: oklch(90% 0.05 240deg);
  --blue-shades-5: oklch(80% 0.05 240deg);
  --blue-shades-4: oklch(68% 0.05 240deg);
  --blue-shades-3: oklch(54% 0.05 240deg);
  --blue-shades-2: oklch(38% 0.05 240deg);
  --blue-shades-1: oklch(20% 0.05 240deg);
  --blue-shades-0: oklch(10% 0.05 240deg);
}

body {
  color: light-dark(var(--blue-shades-0), var(--blue-shades-7));
  background-color: light-dark(var(--blue-shades-7), var(--blue-shades-0));
}

.box {
  padding: var(--box-padding, var(--default-padding));
  color: light-dark(var(--blue-shades-1), var(--blue-shades-6));
  background-color: light-dark(var(--blue-shades-6), var(--blue-shades-1));
  border: var(--box-border, 0.0625rem) solid;

  * {
    color: inherit;
  }
}
