@use './global/reset';
@use './global/perceptone';
@use './global/fluid-type';
@use './global/fluid-space';
@use './composition/flow';
@use './composition/wrapper';

ul,
ol {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  --wrapper-padding: var(--space-s-3xl);
}
