* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

audio,
canvas,
embed,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
:root {
  --perceptone-red-0: oklch(0% 0 8deg);
  --perceptone-red-5: oklch(8.2377448622% 0.0321786909 8deg);
  --perceptone-red-10: oklch(14.6779926762% 0.0573359089 8deg);
  --perceptone-red-15: oklch(20.5782947057% 0.0803839637 8deg);
  --perceptone-red-20: oklch(26.1532097202% 0.1021609755 8deg);
  --perceptone-red-25: oklch(31.4980262474% 0.123039165 8deg);
  --perceptone-red-30: oklch(36.6663527497% 0.1432279404 8deg);
  --perceptone-red-35: oklch(41.6923815542% 0.1628608654 8deg);
  --perceptone-red-40: oklch(46.59972203% 0.1820301642 8deg);
  --perceptone-red-45: oklch(51.4055994789% 0.200803123 8deg);
  --perceptone-red-50: oklch(56.1231024155% 0.2192308688 8deg);
  --perceptone-red-55: oklch(60.7624916747% 0.2373534831 8deg);
  --perceptone-red-60: oklch(65.3320133272% 0.2407499074 8deg);
  --perceptone-red-65: oklch(69.8384293891% 0.2094553515 8deg);
  --perceptone-red-70: oklch(74.2873785658% 0.1785598711 8deg);
  --perceptone-red-75: oklch(78.6836297566% 0.1480303489 8deg);
  --perceptone-red-80: oklch(83.0312652445% 0.1178384358 8deg);
  --perceptone-red-85: oklch(87.3338162572% 0.0879596093 8deg);
  --perceptone-red-90: oklch(91.594365362% 0.0583724628 8deg);
  --perceptone-red-95: oklch(95.8156252024% 0.0290581583 8deg);
  --perceptone-red-100: oklch(100% 0 8deg);
  --perceptone-neutral-0: oklch(0% 0 0deg);
  --perceptone-neutral-5: oklch(8.2377448622% 0 0deg);
  --perceptone-neutral-10: oklch(14.6779926762% 0 0deg);
  --perceptone-neutral-15: oklch(20.5782947057% 0 0deg);
  --perceptone-neutral-20: oklch(26.1532097202% 0 0deg);
  --perceptone-neutral-25: oklch(31.4980262474% 0 0deg);
  --perceptone-neutral-30: oklch(36.6663527497% 0 0deg);
  --perceptone-neutral-35: oklch(41.6923815542% 0 0deg);
  --perceptone-neutral-40: oklch(46.59972203% 0 0deg);
  --perceptone-neutral-45: oklch(51.4055994789% 0 0deg);
  --perceptone-neutral-50: oklch(56.1231024155% 0 0deg);
  --perceptone-neutral-55: oklch(60.7624916747% 0 0deg);
  --perceptone-neutral-60: oklch(65.3320133272% 0 0deg);
  --perceptone-neutral-65: oklch(69.8384293891% 0 0deg);
  --perceptone-neutral-70: oklch(74.2873785658% 0 0deg);
  --perceptone-neutral-75: oklch(78.6836297566% 0 0deg);
  --perceptone-neutral-80: oklch(83.0312652445% 0 0deg);
  --perceptone-neutral-85: oklch(87.3338162572% 0 0deg);
  --perceptone-neutral-90: oklch(91.594365362% 0 0deg);
  --perceptone-neutral-95: oklch(95.8156252024% 0 0deg);
  --perceptone-neutral-100: oklch(100% 0 0deg);
}

/* stylelint-disable-next-line scss/at-function-pattern */
/* stylelint-disable-next-line scss/at-function-pattern */
:root {
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-width: 37.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-width: 100rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-content-width: 35.5rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-content-width: 85rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --min-font-size: 1rem;
  /* stylelint-disable-next-line scss/dollar-variable-no-missing-interpolation */
  --max-font-size: 1.25rem;
}

:root {
  --step--2: clamp(0.6944rem, 0.6311rem + 0.1689vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7333rem + 0.2667vw, 1rem);
  --step-0: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9825rem + 0.58vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.1321rem + 0.821vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.3rem + 1.1415vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.4867rem + 1.5651vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.6925rem + 2.1222vw, 3.8147rem);
}

body {
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

:root {
  --space-3xs: clamp(0.25rem, 0.2125rem + 0.1vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.425rem + 0.2vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6375rem + 0.3vw, 0.9375rem);
  --space-s: clamp(1rem, 0.85rem + 0.4vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.275rem + 0.6vw, 1.875rem);
  --space-l: clamp(2rem, 1.7rem + 0.8vw, 2.5rem);
  --space-xl: clamp(3rem, 2.55rem + 1.2vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.4rem + 1.6vw, 5rem);
  --space-3xl: clamp(6rem, 5.1rem + 2.4vw, 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, 0.025rem + 0.6vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.2375rem + 0.7vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.45rem + 0.8vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.475rem + 1.4vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 0.9rem + 1.6vw, 2.5rem);
  --space-l-xl: clamp(2rem, 0.95rem + 2.8vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 1.8rem + 3.2vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 1.9rem + 5.6vw, 7.5rem);
  --space-s-3xl: clamp(1rem, -2.9rem + 10.4vw, 7.5rem);
  --space-s-2xl: clamp(1rem, -1.4rem + 6.4vw, 5rem);
  --space-s-xl: clamp(1rem, -0.65rem + 4.4vw, 3.75rem);
  --space-s-l: clamp(1rem, 0.1rem + 2.4vw, 2.5rem);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.wrapper {
  position: relative;
  box-sizing: content-box;
  max-inline-size: var(--wrapper-max-width, var(--max-content-width, 75rem));
  padding-inline: var(--wrapper-padding, var(--space-s-3xl, 1rem));
  margin-inline: auto;
}

ul,
ol {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  --wrapper-padding: var(--space-s-3xl);
}