@use '../../../styles/global/base';
@use '../../../styles/composition/flow';
@use '../../../styles/composition/sidebar';
@use '../../../styles/composition/wrapper';

ul,
ol {
  list-style: none;

  &.flow > li {
    --flow-space: 0.75em;
  }
}

code {
  padding-inline-end: 0.5em;
  font-weight: 700;
}

.elem {
  --sidebar-target-width: 30ch;
  --sidebar-content-min-width: 60ch;

  background-color: var(--surface-2);

  &__main {
    color: var(--on-primary-container);
    background-color: var(--primary-container);

    code {
      color: var(--on-secondary-container);
    }
  }

  &__side {
    color: var(--on-secondary-container);
    background-color: var(--secondary-container);
  }
}

.section {
  font-size: var(--step-4);

  > *:not(h1, h2, h3, h4, h5, h6) {
    font-size: var(--step-0);
  }
}

.sticky {
  &__track {
    position: relative;
  }

  &__item {
    position: sticky;
    top: 0;
  }
}
